<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collaborate By Code</title>

  <!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script> -->
  <!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script> -->
  <!-- <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="/quiz/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="quiz/p5.dom.js"></script>


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Quiz JavaScript -->

</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">Collaborate by Code</a>
      <ul class="nav navbar-nav">
        <li><a href="/contact">About</a></li>
        <li><a href="/canvas">Canvas</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/contact">Contribute</a></li>
      </ul>
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer>
    Awesome Site. Copyright &copy; 2016

  </footer>
</body>
</html>