<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collaborate By Code</title>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.7.0-alpha.1/two.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Load Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Overpass:200,300,400,600,700,800" rel="stylesheet">

  <script src="/javascripts/canvasManager.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Collaborate By Code</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/canvas">Canvas</a></li>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container-fluid">
      <%- body %>
    </div>
  </main>

  <footer>

    <div class ="container">

        <div class="row">

            <div class="col-sm-2">
                <ul class ="footerList footerAddress">
                    <li>Red Hat</li>
                    <li>Executive Briefing Center</li>
                    <li>300 A Street</li>
                    <li>Boston, MA 02215</li>
                </ul>
            </div>

            <div class="col-sm-2 footerList">
                <lh id ="footerCTA">Connect with us</lh>
                <p id = "footerCTAdescrip">Enter your email to recieve monthly updates from our team</p>
            </div>

            <div class="col-sm-3">
                <ul class ="footerList">
                    <li id ="footerHeader">FEATURED</lh>
                    <li>Red Hat Enterprise Linux</li>
                    <li>Red Hat Gluster Storage</li>
                    <li>Red Hat Satellite</li>
                    <li>Red Hat OpenShift Container Platform</li>
                    <li>Red Hat OpenStack Platform</li>
                    <li>Red Hat Mobile Application Platform</li>
                </ul>
            </div>

            <div class="col-sm-2">
                 <ul class ="footerList">
                    <li id ="footerHeader">TOOLS</lh>
                    <li>My Account</li>
                    <li>Customer Portal</li>
                    <li>Hardware Catalog</li>
                    <li>Red Hat Connect for Partners</li>
                    <li>Resource Library</li>
                </ul>
            </div>

            <div class="col-sm-2">
                <ul class ="footerList">
                    <li id ="footerHeader">COMMUNICATE</lh>
                    <li>Contact Us</li>
                    <li>Media Inquiries</li>
                    <li>Feedback</li>
                    <li>Social</li>
                    <li>Red Hat Newsletter</li>
                </ul>
            </div>
            
        </div>

        <div class="row">

            <div class="col-sm-3">
                <p>@2018 Red Hat, Inc. All rights reserved.</p>
            </div>
            <div class="col-sm-5">
                <p>Please send any comments or corrections to the Collaborate by Code team.</p>
            </div>
            <div class="col-sm-2">
                <p><a href="">Privacy Policy</a></p>
            </div>
            <div class="col-sm-2">
                <p><a href="">Terms of Use</a></p>
            </div>
        </div>
    </div>

  </footer>

</body>
</html>