
body {
  font-family: 'Lato', sans-serif;
}

main {
  background-color: #E2DAEC;
}

#quiz {
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  width: 70%;
  border-radius: 20px;
  float: left;
  font-size: 36px
}

/*Styling the Quiz Options*/

.options {
  color: #7551A6;
  font-size:28px;
  font-weight:300;
  margin-bottom:20px;
  margin-top:30px;
  background-color:white;
  padding:20px;
  border-radius:20px;
}

span.code {
  font-size:20px;
  color: black;
  padding-left:20px;
}


input {
  margin: 20px 0px 20px 0px;
  display: block;
  background-color: #7551A6;
  font-size: 26px;
  padding: 20px;
  color: white;
  float: right;
  border-radius:20px;
  font-weight:lighter;

}


#textbox {
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

p.questions {
  color: #7551A6;
  font-size:28px;
  font-weight:300;
  margin-bottom:20px;
  margin-top:36px;
}


#button:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;

}

#after_submit {
  visibility: hidden;
  background: #ff5459;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
  float: left;
  margin-left: 20px;
  font-size: 30px;

}

#picture {
  width: 375px;
  height: 245px;
}



#mc {
  display: inline;
} 