
@import url('https://fonts.googleapis.com/css?family=Overpass:400,900');

#canvas {
    position:absolute;
    background-image: url(../img/square.png);
    border: 3px #CCC solid;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
}

header .navbar {
  border-radius: 0;
  margin: 0;}

.hero {
  background-color:white;
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.hero-content h2 {
  color: black;
  font-size: 80px;
  font-weight:900;
  font-family: 'Overpass', sans-serif;

}

.hero-content p {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: 'Overpass', sans-serif;
}

.hero-content .btn {
  border-radius: 2px;
  padding: 20px 30px;
  background-color:#CC0000;
  border-radius:12px;
  font-family: 'Overpass', sans-serif;
  border:#CC0000;

}  

main {
  min-height: 500px;
  padding: 50px 0;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}