
@import url('https://fonts.googleapis.com/css?family=Overpass:400,900');

#canvas {
    position:absolute;
    background-image: url(../img/square.png);
    border: 3px #CCC solid;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
}

/*
Styling the Navigation*/

header .navbar {
  border-radius: 0;
  margin: 0px 0px 30px 0px;
  width: 100%;
  padding-top: 30px;
  font-size:16px;
  padding-left:20px;
}

.navbar-inverse .navbar-brand {
  font-weight: bolder;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #FBF7FF;
  color: black;
}

.navbar-inverse .navbar-brand:hover {
  color:#9d9d9d;
}

.hero {
  background-color:white;
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: left;
  width: 100%;
  background-color:#CDC0DF;
}
/*Styling Headers and Paragraphs on Home Page*/
h2 {
  color: black;
  font-size: 72px;
  font-weight: lighter;
}

.body_title {
  font-size:30px;
  color: #7551A6;
}

.body_content {
  font-size:20px;
  width:50%;
}

.hero-content p {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: 'Overpass', sans-serif;
  text-align: left;
}



/*Style the header background*/

.jumbotron {
  background-color:#CDC0DF;
  background-image: url("/css/shapes.svg");
  background-size: cover;
}

/*Styling the main homepage CTA button*/
a.btn.btn-secondary {
  padding: 15px 30px;
  background-color: purple;
  border-radius: 60px;
  font-family: 'Overpass', sans-serif;
  background-color: #7551A6;
  color: white;
  font-size: 20px;
  margin-top:20px;
}  

.btn:hover {
  background-color: #5C3E84;
}

main {
  min-height: 500px;
  padding: 50px 0;
}

/*Navbar Styling*/
/*///////////////*/

.navbar-inverse {
  background-color: white;
  background-image: none;
  border: none;
  float: left;
}

/*Header Styling*/
/*///////////////*/

#preTitle {
  color: #7551A6;
  font-size: 13px;
  font-weight: bold;
}
/*Footer Styling*/
/*///////////////*/

footer {
  padding: 30px 0;
  font-size: 12px;
  color: #464646;
  background: #CDC0DF;
}

.footerList {
  list-style: none;
  text-align: left;
}

ul {
  padding:0px 0px 10px 0px;
  margin:0px;
}

/*Styling "Connect With Us" */
#footerCTA {
  font-size: 16px;
  color: black;
  font-weight: 500;

}

/*Styling description under "Connect With Us"*/
#footerCTAdescrip {
  color: black;
  padding-top: 6px;
  white-space: normal;
}

/*Style the header of the footer lists */
#footerHeader {
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

/*Style the footer address*/
.footerAddress {
  font-size: 10px;
}