<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Visualizing The Power of Open Source</h2>
        <p class ="aboutDescription">Collaborate by Code is an open source web application that enables users to contribute code via social media or a quiz to produce objects on a shared canvas. Each object is unique to the user’s affiliation with Red Hat to create a visualization that reflects the diversity of individuals within the Red Hat community.</p>

        <p class ="aboutDescription">No previous coding experience is necessary to contribute. From designers to writers, we welcome individuals with a variety of skill sets and backgrounds to contribute to this project. So, what are you waiting for? <a style= "font-weight: 500" href ="https://github.com/fionawhittington/collaboratebycode" target="_blank">Fork our repo and get hacking!</a></p>
    </div>
</div>

