<%- contentFor('body') %>

<body class ="purpleBackground">

    <div class ="container">

        <div class ="row">

            <div class ="col-lg-4 canvasLeftStyle">

                <h3 class="body_title">The Community Canvas </h3>
                <p class="body_content"> The Red Hat community is a collaborative enviornment for hackers, hipster, and hustlers alike from around the world. Scroll over each square in the visual below to learn more about the diverse community of individuals that engage with us. </p>
              
            </div>

            <div class ="col-lg-8" >
            
                <div class = "shape-scroll">

                    <div id="draw-shapes"></div>

                </div>

            </div>

        </div>
    </div>

</body>

<!-- Canvas Styling -->
<script src="/canvas/canvas.js"></script>