<%- contentFor('body') %>

    <div class="shape-scroll">
      <div id="draw-shapes"></div>
    </div>

<!-- Canvas Styling -->
<!-- <script language="javascript" type="text/javascript" src="quiztoshape.js"></script> -->
<script src="/canvas/canvas.js"></script>