
<%- contentFor('hero') %>
<div clas="container">

    <div class = "row">

        <div class ="col-md-6 col-md-offset-3">
            <section class="hero">
                <div class="hero-content">
                    <h4 id="preTitle">powered by Red Hat</h4>
                    <h2>Collaborate <br>by Code</h2>
                    <p>Take the quiz to begin collaborating by code. Each of your answers to the following questions will generate a fragment of code, which will produce an object unique to you. Click tweet to watch your object get added to our collaborative canvas!</p>
                    <a href="/quiz" class="btn btn-lg btn-primary">Get started!</a>
                </div>
            </section>
        </div>

    </div>

</div>

<%- contentFor('body') %>

