<div class ="container-fluid purpleGradient">
    <div class ="row">
        <div class ="col-md-6">
            <form id="quiz" name="quiz">
                <div style="padding-bottom:100px" id="current">
                    <p class = "questions">What type of environment do you live in?</p>
                    <div class ="options" id="environment">
                        <div class="answer" id="environment-urban" onclick="updateShapeAttr('environment', 'urban')">Urban</div>
                        <div class="answer" id="environment-rural" onclick="updateShapeAttr('environment', 'rural')">Rural</div>
                        <div class="answer" id="environment-suburban" onclick="updateShapeAttr('environment', 'suburban')">Suburban</div>
                    </div>
                    <input type = "button" value = "Next" onclick="console.error('Readd this logic!')"> 
                </div>

                <div style="padding-bottom:100px" id="current">
                    <p class = "questions"> What is your affiliation to Red Hat? </p>
                    <div class ="options" id="affiliation">
                        <div class="answer" id="affiliation-employee" onclick="updateShapeAttr('affiliation', 'employee')">Employee</div>
                        <div class="answer" id="affiliation-customer" onclick="updateShapeAttr('affiliation', 'customer')">Customer</div>
                        <div class="answer" id="affiliation-other" onclick="updateShapeAttr('affiliation', 'other')">Other</div>
                    </div>
                    <input type = "button" value = "Next" onclick="console.error('Readd this logic!');"> 
                </div>

                <div style="padding-bottom:100px">
                    <p class = "questions">Which continent are you from?</p>
                    <div class ="options" id="continent">
                        <div class="answer" id="continent-africa" onclick="updateShapeAttr('continent', 'africa')">Africa</div>
                        <div class="answer" id="continent-europe" onclick="updateShapeAttr('continent', 'europe')">Europe</div>
                        <div class="answer" id="continent-asia" onclick="updateShapeAttr('continent', 'asia')">Asia</div>
                        <div class="answer" id="continent-southamerica" onclick="updateShapeAttr('continent', 'southamerica')">South America</div>
                        <div class="answer" id="continent-northamerica" onclick="updateShapeAttr('continent', 'northamerica')">North America</div>
                        <div class="answer" id="continent-australia" onclick="updateShapeAttr('continent', 'australia')">Australia</div>
                    </div>

                    <input type = "button" value = "Next" onclick="console.error('Readd this logic!');"> 
                </div>
            </form>
        </div>

        <div class ="col-md-6">
            <div class="shape-scroll">
                <div id="draw-shapes"></div>
            </div>
        </div>
    </div>
</div>

<!-- Quiz Styling -->
<link rel="stylesheet" href="/css/quiz.css">
<script src="/javascripts/quizPage.js" rel="text/javascript"></script>
