
<div class ="container-fluid purpleGradient">

    <div class ="row">

        <div class ="col-md-8">

            <form id = "quiz" name = "quiz">

                <div style="padding-bottom:100px" id="current">
                
                    <p class = "questions">What type of environment do you live in?</p>

                    <div class ="options">

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question1" value = "Urban"> 

                        <label for="ossm">Urban</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question1" value = "Rural"> 

                        <label for="ossm">Rural</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question1" value = "Suburban"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Suburban</label> <br>

                    </div>

                    <input type = "button" value = "Next" onclick="check(); updateStep();"> 

                </div>

                <div style="padding-bottom:100px" id="current">
                

                    <p class = "questions"> What is your affiliation to Red Hat? </p>

                    <div class ="options">

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question2" value = "Employee"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Employee</label> <br>


                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question2" value = "Customer"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Customer</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question2" value = "Other"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Other</label> <br>
                    </div>

                    <input type = "button" value = "Next" onclick="check(); updateStep();"> 

                </div>

                <div style="padding-bottom:100px">
                
                    <p class = "questions">Which continent are you from?</p>

                    <div class ="options">

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "Other"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Asia</label> <br>

                         <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "Australia"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Australia</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "Antarctica"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Antarctica</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "Europe"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Europe</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "North America"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">North America</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "Asia"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">Asia</label> <br>

                        <input class ="radio-inline option" type = "radio" id = "mc11" name = "question3" value = "South America"> 
                        <!-- Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br> -->
                        <label for="ossm">South America</label> <br>

                    </div>

                    <input type = "button" value = "Next" onclick="check();"> 

                </div>

            </form>

        </div>

        <div class ="col-md-2">

            <div class="shape-scroll">

                <div id="draw-shapes"></div>

            </div>

        </div>

    </div>

</div>

<!-- Quiz Styling -->
<link rel="stylesheet" href="/css/quiz.css">
<script type="text/javascript" src="/quiz/quiz.js"></script>
