
<div class ="container">

    <div class ="row">

        <div class ="col-md-8">

            <form id = "quiz" name = "quiz">


                <p class = "questions">What type of environment do you live in?</p>

                <div class ="options">

                    <input class ="radio-inline option" type = "radio" id = "mc11" name = "question1" value = "Urban"> Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br>

                    <input class ="radio-inline option" type = "radio" id = "mc12" name = "question1" value = "Rural"> Rural <span class="code">triangle(x1, y1, x2, y2, x3, y3)</span><br>

                    <input class ="radio-inline option" type = "radio" id = "mc13" name = "question1" value = "Suburban"> Suburban <span class="code">rect(x, y, width, height)</span><br>

                </div>


                <p class = "questions"> What is your affiliation to Red Hat? </p>

                <div class ="options">
                    <input class ="radio-inline option" type = "radio" id = "mc21" name = "question2" value = "Employee"> Employee <br>
                    <input class ="radio-inline" type = "radio" id = "mc22" name = "question2" value = "Customer"> Customer <br>
                    <input class ="radio-inline" type = "radio" id = "mc23" name = "question2" value = "Other"> Other <br>
                </div>


                <p class = "questions">Which continent are you from?</p>

                <div class ="options">
                    <input class ="radio-inline" type = "radio" id = "mc31" name = "question3" value = "Asia"> Asia<br>
                    <input class ="radio-inline" type = "radio" id = "mc32" name = "question3" value = "Australia"> Australia<br>
                    <input class ="radio-inline" type = "radio" id = "mc33" name = "question3" value = "Antartica"> Antartica<br>
                    <input class ="radio-inline" type = "radio" id = "mc34" name = "question3" value = "Europe"> Europe<br>
                    <input class ="radio-inline" type = "radio" id = "mc35" name = "question3" value = "Asia"> Asia<br>
                    <input class ="radio-inline" type = "radio" id = "mc36" name = "question3" value = "North America"> North America<br>
                    <input class ="radio-inline" type = "radio" id = "mc37" name = "question3" value = "South America"> South America<br>
                </div>

                <input type = "button" value = "Next" onchange="quizToShape();"> 

            </form>

        </div>

    </div>

    <div class="shape-scroll">

        <div id="draw-shapes"></div>

    </div>

</div>

<!-- Quiz Styling -->
<link rel="stylesheet" href="/css/quiz.css">
<script src="/quiz/quiz.js"></script>
