<div class ="container-fluid purpleGradient">
    <div class ="row">
        <div class ="col-md-6">

           <!--  Update Progress Bar -->
           <p>Question <span id ="currentQuestion">1</span>/3</p>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>

           <!--  Change Object Based off Answers to Quiz Question -->
            <form id="quiz" name="quiz" class = "slideshow-container">

                <div style="padding-bottom:100px" class = "mySlides">

                    <p class = "questions">Before Getting Started: <br> Upload an Image of Yourself</p>

                    <!-- Begin Quiz and Go to First Question -->
                    <input type = "button" value = "Start Quiz" class ="next"  onclick="console.error('Readd this logic!'); move(); showSlides()"> 

                </div>


                <div style="padding-bottom:100px" class = "mySlides">
                    <p class = "questions">What type of environment do you live in?</p>
                    <div class ="options" id="environment">
                        <div class="answer" id="environment-urban" onclick="updateShapeAttr('environment', 'urban')">Urban</div>
                        <div class="answer" id="environment-rural" onclick="updateShapeAttr('environment', 'rural')">Rural</div>
                        <div class="answer" id="environment-suburban" onclick="updateShapeAttr('environment', 'suburban')">Suburban</div>
                    </div>

                    <input type = "button" value = "Previous" onclick="console.error('Readd this logic!');"> 
                    <!-- Replace with Next Question -->
                    <input type = "button" value = "Next" class ="next"  onclick="console.error('Readd this logic!'); move(); showSlides()"> 

                </div>

                <div style="padding-bottom:100px" class = "mySlides">
                    <p class = "questions"> What is your affiliation to Red Hat? </p>
                    <div class ="options" id="affiliation">
                        <div class="answer" id="affiliation-employee" onclick="updateShapeAttr('affiliation', 'employee')">Employee</div>
                        <div class="answer" id="affiliation-customer" onclick="updateShapeAttr('affiliation', 'customer')">Customer</div>
                        <div class="answer" id="affiliation-other" onclick="updateShapeAttr('affiliation', 'other')">Other</div>
                    </div>

                    <input type = "button" value = "Previous" onclick="console.error('Readd this logic!');"> 
                    <input type = "button" class ="next" value = "Next" onclick="console.error('Readd this logic!'); move(); showSlides()"> 

                </div>

                <div style="padding-bottom:100px" class = "mySlides">
                    <p class = "questions">Which continent are you from?</p>
                    <div class ="options" id="continent">
                        <div class="answer" id="continent-africa" onclick="updateShapeAttr('continent', 'africa')">Africa</div>
                        <div class="answer" id="continent-europe" onclick="updateShapeAttr('continent', 'europe')">Europe</div>
                        <div class="answer" id="continent-asia" onclick="updateShapeAttr('continent', 'asia')">Asia</div>
                        <div class="answer" id="continent-southamerica" onclick="updateShapeAttr('continent', 'southamerica')">South America</div>
                        <div class="answer" id="continent-northamerica" onclick="updateShapeAttr('continent', 'northamerica')">North America</div>
                        <div class="answer" id="continent-australia" onclick="updateShapeAttr('continent', 'australia')">Australia</div>
                    </div>

                    <input type = "button" value = "Previous" onclick="console.error('Readd this logic!');"> 
                    <input type = "button" value = "Next" onclick="console.error('Readd this logic!'); move(); showSlides()"> 
                </div>

                <div style="padding-bottom:100px" class = "mySlides">
                    <h1 id ="quizSubmissionTitle">Congratulations You're Finished!</h1>
                    <p id ="quizSubtitle">Click collaborate to add your object to our canvas.</p>
                    <p id ="codeDisplayTitle">Your Code</p>

                    <div class ="finalCode"">
                        <p id ="codeDisplayCodeType" >two.js</p>
                        <p id ="codeDisplayNumber" >1 <span class ="answer"></span></p>
                        <p id ="codeDisplayNumber" >2</p>
                        <p id ="codeDisplayNumber" >3</p>
                    </div>

                    <input type = "button" value = "Collaborate" onclick="console.error('Readd this logic!');"> 
                </div>

            </form>
        </div>

        <!-- Create a Canvas -->
        <div class ="col-md-6">
            <div class="shape-scroll">
                <h3 id ="preview">Preview<h3>
                <div id="draw-shapes"></div>
            </div>
        </div>

    </div>
</div>

<!-- Quiz Styling -->
<link rel="stylesheet" href="/css/quiz.css">
<script src="/javascripts/quizPage.js" rel="text/javascript"></script>
