
<div class ="container">
    <div class ="row">

        <div class ="col-md-8">

            <form id = "quiz" name = "quiz" onchange = "check();">


            <p class = "questions">What type of environment do you live in?</p>

            <div class ="options">

                <input class ="radio-inline option" type = "radio" id = "mc11" name = "question1" value = "Urban"> Urban <span class="code">quad(x1, y1, x2, y2, x3, y3, x4, y4)</span><br>

                <input class ="radio-inline option" type = "radio" id = "mc12" name = "question1" value = "Rural"> Rural <span class="code">triangle(x1, y1, x2, y2, x3, y3)</span><br>

                <input class ="radio-inline option" type = "radio" id = "mc13" name = "question1" value = "Suburban"> Suburban <span class="code">rect(x, y, width, height)</span><br>

            </div>


            <p class = "questions"> What is your affiliation to Red Hat? </p>

            <div class ="options">
                <input class ="radio-inline option" type = "radio" id = "mc21" name = "question2" value = "Employee"> Employee <br>
                <input class ="radio-inline" type = "radio" id = "mc22" name = "question2" value = "Customer"> Customer <br>
                <input class ="radio-inline" type = "radio" id = "mc23" name = "question2" value = "Other"> Other <br>
            </div>


            <p class = "questions">Which continent are you from?</p>

            <div class ="options">
                <input class ="radio-inline" type = "radio" id = "mc31" name = "question3" value = "Asia"> Asia<br>
                <input class ="radio-inline" type = "radio" id = "mc32" name = "question3" value = "Australia"> Australia<br>
                <input class ="radio-inline" type = "radio" id = "mc33" name = "question3" value = "Antartica"> Antartica<br>
                <input class ="radio-inline" type = "radio" id = "mc34" name = "question3" value = "Europe"> Europe<br>
                <input class ="radio-inline" type = "radio" id = "mc35" name = "question3" value = "Asia"> Asia<br>
                <input class ="radio-inline" type = "radio" id = "mc36" name = "question3" value = "North America"> North America<br>
                <input class ="radio-inline" type = "radio" id = "mc37" name = "question3" value = "South America"> South America<br>
            </div>



            <input id = "tweet-this-post button" class ="tweet-post-class" type = "button" value = "Next" onclick = "check();"> 

            <!--<a class="twitter-share-button"
                via="@redhat"
                href="https://twitter.com/share"
                data-size="large"
                data-text="custom share text"
                data-url="https://dev.twitter.com/web/tweet-button"
                data-hashtags="example,demo"
                data-via="twitterdev"
                data-related="twitterapi,twitter">
            Tweet
            </a>-->
            <!-- <div id ="container"> -->
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="collaboratebycode" data-hashtags="collaboratebycode" data-text="shit" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- </div> -->

<!--         <div class="row">
            <div id="tweet-container" class="text-center"></div>
        </div> -->

            </form>
        </div>

    </div>
</div>

<!-- Quiz Styling -->
<link rel="stylesheet" href="/css/quiz.css">

<script data-main="scripts/main" src="../helper/r.js"></script>

<script src="index.js"></script>
<script src="p5.min.js"></script>
<script language="javascript" type="text/javascript" src="p5.dom.js"></script>

